body {
  margin: 0; padding: 0;
  font-family: sans-serif;
}

#title {
  height: 9vmin;
  padding: 0;
  margin: 0;
  font-size: 8vmin;
  text-align: center;
}

#board {
  width: 68vmin; /* (((.spot width + border) * 3) - 1) */
  height: 68vmin; /* (((.spot height *3) + (.row border * 3) - 1) */
  padding: 0;
  margin: 1vmin auto;
}

.spot {
  width: 22vmin;
  height: 22vmin;
  border-left: 1vmin solid black;
  margin: 0;
  float: left;
  font-size: 19vmin;
  text-align: center;
  cursor: pointer;
}
.spot:hover {
  background-color: rgb(238, 238, 238);
}

.row {
  width: 68vmin; /* (((.spot width + border) * 3) - 1) */
  height: 22vmin; /* (.spot height) */
  border-bottom: 1vmin solid black;
  clear: left;
}
/* Remove the left border on the first spot of every row */
.spot:first-child {
  border-left: none;
}
/* Remove the bottom border on the last row */
.row:last-child {
  border-bottom: none;
}

#message {
  width: 68vmin;
  max-height: 15vmin;
  padding: 1vmin;
  border: .3vmin solid rgb(100, 100, 100);
  border-radius: 1vmin;
  margin: 0 auto;
  clear: left;
  background-color: rgb(228, 246, 255);
  font-size: 4vmin;
}
#resetButton {
  width: 20vmin;
  height: 6vmin;
  border-right: .5vmin solid rgb(100, 100, 100);
  border-bottom: .5vmin solid rgb(100, 100, 100);
  border-radius: 1vmin;
  margin: 1vmin auto;
  clear: left;
  background-color: rgb(238, 127, 119);
  font-size: 5vmin;
  text-align: center;
  cursor: pointer;
}
#resetButton:hover {
  background-color:rgb(252, 135, 126);
}
